.img-div {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
}

.logged {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-login-form {
  width: 300px;
}

.loading {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
}

.opened {
  background-color: #ffe489;
}

.started {
  background-color: #cedd81;
}

.complete {
  background-color: #b06d81;
}

.failed {
  background-color: #faafa0;
}

.canceled {
  background-color: #fae9e7;
}


.task-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding: 30px;
  min-height: calc(100vh - 110px);
}


.task {
  padding-top: 15px;
  margin: 10px 5px;
  width: 260px;
  background-color: ghostwhite;
}

.canceled .task,
.failed .task,
.complete .task {
  padding-bottom: 15px;
}

.task p {
  margin: 10px 15px;
}

.task span {
  color: #023EBC;
  float: right;
}

.task .mat-button {
  border-radius: 0;
  width: 50%;
  height: 50px;
}

.mat-button.red-button {
  background-color: crimson;
  color: white;
}

.mat-button.blue-button {
  background-color: #023EBC;
  color: white;
}

.mat-button.green-button {
  background-color: green;
  color: white;
}
