<section class="apartment-list">
  Services list
  <div class="wrap">
    <div class="table">
      <services-table-component></services-table-component>
    </div>
    <div class="tools">
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="addDialog()">Add</button>
      </div>
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="changeDialog()">Change</button>
      </div>
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="deleteDialog()">Delete</button>
      </div>
    </div>
  </div>
</section>
