<section class="task-list">
  <div class="buttons"> Task list &nbsp;
    <button class="mat-button" mat-raised-button (click)="addDialog()">Add</button>
  </div>
  <div class="wrap">
    <div class="table">
      <task-table-component (selectedRowClicked)="isClickedRow()" (reselectRow)="reselectRow()"></task-table-component>
    </div>
    <div class="tools">
      <div class="change">
        <app-change-task-dialog *ngIf="isClicked"></app-change-task-dialog>
      </div>
    </div>
  </div>
</section>


