section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.full-width {
  width: 100%;
  margin-bottom: 3px;
}

.block {
  position:relative;
  width: 100%;
  height:auto;
  border: 3px solid #000;
  text-align:center;
}
.wrap {

  display:block;
}

.table {

  float: left;
  height: 50px;
  width: 75%;
  border: 1px solid #000;
  margin: 1.5px;
}

.butt{
  float: left;
  height: auto;
  width: 24%;
  border: 1px solid #000;
  margin: 1.5px;
}

.buttons{
  width: 100%;
}
.mat-button{
  width: 100px;
  margin-bottom: 2px;
}

/*TODO styles for staff page*/

