<section class="apartment-list">
  Apartments list
  <div class="wrap">
    <div class="table">
      <apartments-table-component (selectedRowClicked)="isClickedRow()"
                                  (reselectRow)="reselectRow()"></apartments-table-component>
    </div>

    <div class="tools">
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="addApartmentDialog()">Add</button>
      </div>

      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="deleteApartment()">Delete</button>
      </div>

      <div class="change">
        <app-change-apartments-dialog *ngIf="isClicked"></app-change-apartments-dialog>
      </div>
    </div>
  </div>
</section>
