<section class="change-apartment">
  <h2 mat-dialog-title>Edit Apartment</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <input matInput class="full-width" placeholder="Room number">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput class="full-width" placeholder="Photo">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput class="full-width" placeholder="Description">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput class="full-width" placeholder="Status">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput class="full-width" placeholder="Class name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="full-width" class="Number of rooms">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="full-width" class="Number of couchette">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Speciality</mat-label>
      <mat-select placeholder="Select me">
        <mat-option value="Client">Client</mat-option>
        <mat-option value="Manager">Manager</mat-option>
        <mat-option value="Worker">Worker</mat-option>
        <mat-option value="Administrator">Administrator</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Change</button>
  </mat-dialog-actions>
</section>

