<section class="booking-list">

  <div class="wrap">

    <div class="tools">
      <div class="buttons">
        <p>Unavailable Apartments</p>
        <button class="mat-button" mat-raised-button (click)="addUnavailableApartmentDialog()">Add</button>
      </div>
      <div class="change">
        <app-change-unavailable-apartment-dialog
          *ngIf="id$ | async; else loading"></app-change-unavailable-apartment-dialog>
      </div>
      <ng-template #loading></ng-template>
    </div>

    <div class="table">
      <unavailable-apartments-table-component></unavailable-apartments-table-component>
    </div>

  </div>
</section>
