<a name="home"></a>
<div class="container">
<nav>

  <div class="logo">
    <img src="../../../assets/img/logo.png" />
  </div>

  <div class="menu">
    <a href="#home"><button mat-button>Home</button></a>
    <a href="#apartments"><button mat-button>Apartments</button></a>
    <a href="#reviews"><button mat-button>Reviews</button></a>
    <a href="#services"><button mat-button>Services</button></a>
    <a href="#contacts"><button mat-button>Contacts</button></a>
  </div>

  <ng-template *ngIf="authenticated; then signed else signWelcome"></ng-template>
  <ng-template #signWelcome>
    <div class="sign-welcome">
      <button mat-button (click)="authenticationState='register'">Sign up</button>
      <!-- TODO: Delete this event handler-->
      <button mat-button (click)="authenticationState='login'">Sign in</button>
    </div>
  </ng-template>

  <ng-template #signed>
    <div class="signed" >
      <p>{{ username }}</p>
      <button mat-button (click) = "logout()">Logout</button>
    </div>
  </ng-template>

</nav>
</div>

<div [ngSwitch]="authenticationState">
  <ng-template ngSwitchCase="register">reg</ng-template>
  <ng-template ngSwitchCase="login">
    <app-login-form></app-login-form>
  </ng-template>
</div>

<!--TODO: delete when deploy-->
<div style="width: 100%">
  <p>{{  apartments }}</p>
  <button mat-button (click)="getApartments()">Go-go power rangers</button>
</div>
<div class="carousel-container">
  <mat-carousel
    timings="1000ms ease-in"
    [autoplay]="true"
    interval="6000"
    loop="true"
    hideArrows="true"
    maxWidth="auto"
    slides="3"
    hideIndicators="true"
    proportion="60"
    [useMouseWheel]="false"
    [useKeyboard]="false"
  >
    <mat-carousel-slide
      *ngFor="let slide of images"
      [image]="slide"
    ></mat-carousel-slide>
  </mat-carousel>
  <div class="container home-date-container">
    <form class="search-date-form">
      <mat-form-field >
        <input matInput [matDatepicker]="startDate" placeholder="Arrive date">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endDate" placeholder="Departure date">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <button mat-button type="submit">Find apartments</button>
    </form>
  </div>
  <div class="container home-about-container">
    <div class="home-about-wrapper">
      <h2>About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores assumenda, beatae corporis dicta dolores eos error expedita fugiat iusto mollitia nam nostrum nulla officia omnis pariatur quae quisquam saepe sapiente sed sint, tempora ullam unde voluptas, voluptates voluptatibus? Adipisci dicta earum enim expedita illum minima minus natus nemo odit, quam qui quis repudiandae sequi suscipit voluptatum. Ab aliquid amet, assumenda at autem consequuntur cumque doloremque dolores ea enim eos expedita inventore ipsa ipsum iure maxime minus necessitatibus nulla officia omnis optio perspiciatis provident quia quibusdam quod saepe sequi sit soluta temporibus ullam vel velit veniam veritatis. Earum.</p>
    </div>
  </div>
</div>

<a name="apartments" id="apartment-container-anchor"></a>
<div class="container home-apartment-container">
  <div class="triangle-shape"></div>
  <div class="home-apartment-wrapper">
    <h2>Apartments</h2>
    <div class="apartment-cards-container">
      <mat-card>
        <mat-card-title>Apartment</mat-card-title>
        <mat-card-subtitle>price 100$</mat-card-subtitle>
        <img mat-card-image src="https://190f4a0218cc8fdbe8d6-d9457336dc20f9a8a1bf4251900c4bd5.ssl.cf3.rackcdn.com/wp-content/uploads/2015/08/0953HW-kbphihi_4-tile-small.jpg">
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis nostrum quidem rem reprehenderit! Corporis.</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Apartment</mat-card-title>
        <mat-card-subtitle>price 100$</mat-card-subtitle>
        <img mat-card-image src="https://190f4a0218cc8fdbe8d6-d9457336dc20f9a8a1bf4251900c4bd5.ssl.cf3.rackcdn.com/wp-content/uploads/2015/08/0953HW-kbphihi_4-tile-small.jpg">
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis nostrum quidem rem reprehenderit! Corporis.</mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Apartment</mat-card-title>
        <mat-card-subtitle>price 100$</mat-card-subtitle>
        <img mat-card-image src="https://190f4a0218cc8fdbe8d6-d9457336dc20f9a8a1bf4251900c4bd5.ssl.cf3.rackcdn.com/wp-content/uploads/2015/08/0953HW-kbphihi_4-tile-small.jpg">
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus nobis nostrum quidem rem reprehenderit! Corporis.</mat-card-content>
      </mat-card>
    </div>
    <div  class="see-more">
      <button mat-button>See more</button>
    </div>
  </div>
</div>


<a name="reviews"></a>
<div class="container">
  <div class="home-reviews-container">
    <h2>Reviews</h2>

    <div class="tweet-container">
      <ngx-tweet tweetId="330665583894999040"></ngx-tweet>
      <ngx-tweet tweetId="1205918107690102784"></ngx-tweet>
      <ngx-tweet tweetId="1208434138455400450"></ngx-tweet>
    </div>
    <div  class="see-more">
      <button mat-button>See more</button>
    </div>
  </div>
</div>


<a name="services"></a>
<div class="container services-container">
  <div class="triangle-shape"></div>

  <div class="home-service-wrapper">
    <h2>Services</h2>
    <div class="service-card">
      <div class="service-img"></div>
      <h3>Breakfast</h3>
      <p>Breakfast is the first meal of a day. The word in English refers to breaking the fasting period of the previous night. There is a strong likelihood for one or more "typical", or "traditional", breakfast menus to exist in most places, but their composition varies widely from place to place, and has varied over time, so that globally a very wide range of preparations and ingredients are now associated with breakfast.</p>

    </div>
    <div class="service-card">
      <div class="service-img"></div>
      <div class="service-card-text">
        <h3>Swimming pool</h3>
        <p>A swimming pool, swimming bath, wading pool, paddling pool, or simply pool is a structure designed to hold water to enable swimming or other leisure activities. Pools can be built into the ground (in-ground pools) or built above ground (as a freestanding construction or as part of a building or other larger structure), and are also a common feature aboard ocean-liners and cruise ships.</p>
      </div>
    </div>
    <div  class="see-more">
      <button mat-button>See more</button>
    </div>
  </div>
</div>


<a name="contacts"></a>
<div class="container home-contacts-container">
  <div class="home-contacts-wrapper">
    <div class="map-wrapper">
      <!--<iframe class="home-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.7800955709895!2d30.50265161526503!3d50.44519659562531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cef666511565%3A0x8176aca03e72dc3!2sHilton%20Kyiv!5e0!3m2!1sru!2sua!4v1576706781157!5m2!1sru!2sua" frameborder="0" style="border:0;" width="100%" height="500px" allowfullscreen=""></iframe>-->
    </div>

    <h2>Contacts &nbsp;</h2>
    <ul>
      <li>
        <p>+380777546739 <img src="../../../../assets/img/icons/phone.png"/></p>
      </li>
      <li>
        <p>@hilton_kiev <img src="../../../../assets/img/icons/telegramm.png"/></p>
      </li>
      <li>
        <p>@hilton_kiev <img src="../../../../assets/img/icons/intagram.png"/></p>
      </li>
      <li>
        <p>Киев, бульвар Тараса Шевченко 30 <img src="../../../../assets/img/icons/adress.png"/></p>
      </li>
    </ul>
  </div>
</div>

<footer>
  <p>Copyright © 2019. Created by nc-team-3.</p>
</footer>
