
FirstName:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="firstName">
</mat-form-field>

<br/>LastName:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="lastName">
</mat-form-field>

<br/>Email:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="email">
</mat-form-field>


<br/>Phone number:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="phone">
</mat-form-field>


<br/>Login:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="login">
</mat-form-field>


<br/>Speciality:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="speciality">
</mat-form-field>



<br/>Active:
<br/><mat-form-field class="filter" floatLabel="never">
  <mat-label>Search</mat-label>
  <input matInput [formControl]="active">
</mat-form-field>
