<div class="table-component">

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div *ngIf="!isEmptyTable">
    <app-loading-animation style="margin-left: 400px "></app-loading-animation>
  </div>
  <div *ngIf="isEmptyTable">
    <table mat-table [dataSource]="usersList">
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef>
          <p>Login</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="loginFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.login}} </td>
      </ng-container>

      <ng-container matColumnDef="userRole">
        <th mat-header-cell *matHeaderCellDef>
          <p>User role</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="userRoleFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.userRole}} </td>
      </ng-container>

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>
          <p>First name</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="firstNameFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>
          <p>Last name</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="lastNameFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.lastname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <p>Email</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="emailFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>
          <p>Phone number</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="phoneNumberFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>
          <p>Points</p>
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="pointsFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let selectedUser"> {{selectedUser?.points}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"
          [ngClass]="{'highlightRow': selectedRow == row.login}"></tr>

    </table>
  </div>
</div>
