<div class="table-component">

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="apartmentsClassesList">
  <ng-container matColumnDef="nameClass">
      <th mat-header-cell *matHeaderCellDef>
        Class name
      <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="nameClassFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let selectedApartmentsClass"> {{selectedApartmentsClass?.nameClass}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfRooms">
      <th mat-header-cell *matHeaderCellDef>
        Number of rooms
      <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="numberOfRoomsFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let selectedApartmentsClass"> {{selectedApartmentsClass?.numberOfRooms}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCouchette">
      <th mat-header-cell *matHeaderCellDef>
        Number of couchette
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="numberOfCouchetteFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let selectedApartmentsClass"> {{selectedApartmentsClass?.numberOfCouchette}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" [ngClass]="{'highlightRow': selectedRow == row.nameClass}"></tr>

  </table>
</div>
