section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.filters{
  background-color: whitesmoke;
  padding: 2em;
}

.filters button{
  border: none;
  background-color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
}
