.apartment-box{
  background-color: darkgrey;
  padding-top:3em;
  padding-bottom: 3em;
}

.booking{
  position: absolute;
  right: 5%;
}

button{
  border: none;
  background-color: deepskyblue;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
}
