/*styles for navigation*/
nav {
  background-color: lightgray;
  padding: 0.3em;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: block;
  float: right;
  text-decoration: none;
  margin-right: 1em;
}

.account{
  margin-left: 2em;
}

.logo{
  float: left;
  margin-left: 1em;
}
/*end of styles for navigation*/

/*styles for contacts section*/
.contacts{
  padding: 1em;
  text-align: center;
  background-color: darkgrey;
}

.three-column div{
  padding: 1em;
}

.three-column{
  margin-left: 5em;
  margin-right: 5em;
  column-count: 3;
}
/*end of styles for contacts*/

footer{
  background-color: dimgrey;
  padding: 0.3em;
  text-align: center;
}
