<form [formGroup]="addStaffFrom" (ngSubmit)="onSubmit()" class="change-apartment">
<section class="change-staff">
<h2 mat-dialog-title>Add Staff</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <input required="required" matInput formControlName="email" class="full-width" placeholder="Email">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input required="required" matInput formControlName="role" class="full-width" placeholder="Role">
  </mat-form-field>
  <br/>
  <mat-label>is Active?  </mat-label>
  <mat-checkbox class="full-width" formControlName="active" aria-placeholder="isActive" checked></mat-checkbox>
  <br/>
  <mat-form-field>
    <mat-select required="required"  formControlName="speciality" placeholder="Speciality">
      <mat-option value="Manager">Manager</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" (click)="checkValid()" mat-dialog-close [disabled]="isSubmitDisabled()" mat-button>Add</button>
</mat-dialog-actions>
</section>
</form>
