<section class="booking-list">
  Booking list
  <div class="wrap">
    <div class="table">
      <booking-table-component></booking-table-component>
    </div>
    <div class="tools">
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="addApartmentDialog()">Add</button>
      </div>
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="openDialog()">Change</button>
      </div>
      <div class="buttons">
        <button class="mat-button" mat-raised-button (click)="deleteApartment()">Delete</button>
      </div>
      <div class="buttons">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option value="All">All</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</section>
