<form [formGroup]="changeForm" (ngSubmit)="onSubmit()" class="change-apartment">
  <h2 mat-dialog-title>Edit Apartment</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <input matInput required="required" formControlName="className" class="full-width" placeholder="Class name">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput required="required" formControlName="numberOfRooms" class="full-width"
             placeholder="Number of rooms">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput required="required" formControlName="numberOfCouchette" class="full-width"
             placeholder="Number of couchette">
    </mat-form-field>
    <br/>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" mat-dialog-close>
      Cancel
    </button>
    <button type="submit" (click)="checkValid()" mat-dialog-close [disabled]="isSubmitDisabled()" mat-button>
      Change
    </button>
  </mat-dialog-actions>
</form>

