<section class="apartment-list">
  <div class="wrap">

    <div class="tools">
      <div class="buttons">
        <p>Apartments classes list</p>
        <button class="mat-button" mat-raised-button (click)="addDialog()">Add</button>
      </div>
      <div class="change">
        <app-change-apartments-classes-dialog *ngIf="id$ | async"></app-change-apartments-classes-dialog>
      </div>
    </div>

    <div class="table">
      <apartments-classes-table-component></apartments-classes-table-component>
    </div>

  </div>
</section>
