<section class="apartment-list">
  <div class="buttons">
    Apartments classes list &nbsp;
    <button class="mat-button" mat-raised-button (click)="addDialog()">Add</button>
  </div>
  <div class="wrap">
    <div class="table">
      <apartments-classes-table-component (selectedRowClicked)="isClickedRow()" (reselectRow)="reselectRow()"></apartments-classes-table-component>
    </div>
    <div class="tools">
      <div class="change">
        <app-change-apartments-classes-dialog *ngIf="isClicked"></app-change-apartments-classes-dialog>
      </div>
    </div>
  </div>
</section>
