<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="change-apartment">
  <h2 mat-dialog-title>Add Booking</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
        <input matInput [matDatepicker]="pickerStart"
               required="required" formControlName="startDate"
               class="full-width" placeholder="Start date">
        <mat-datepicker-toggle  matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      <!--<input matInput required="required" formControlName="startDate" class="full-width" placeholder="Start date"> -->
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd"
             required="required" formControlName="endDate"
             class="full-width" placeholder="End date"
      [disabled]="!addForm.value.startDate">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
     <!-- <input matInput required="required" formControlName="endDate" class="full-width" placeholder="End date"> -->
    </mat-form-field>
    <br/>
    <!--    <mat-form-field>-->
    <!--      <input matInput formControlName="totalPrice" class="full-width" placeholder="Total price">-->
    <!--    </mat-form-field>-->
    <!--    <br/>-->
    <mat-form-field>
      <input matInput formControlName="comment" class="full-width" placeholder="Comments">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="review" class="full-width" placeholder="Review">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Status" formControlName="bookingStatus">
        <mat-option *ngFor="let bookingStatus of status"
                    (click)="onSelectStatus(bookingStatus)"
                    value={{bookingStatus}}>

          {{bookingStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-select placeholder="Booked by(user email)" formControlName="email" required>
        <mat-option *ngFor="let user of userList"
                    (click)="onSelectEmail(user)"
                    value={{user?.email}}>

          {{user?.email}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Apartments</mat-label>
      <mat-select placeholder="Apartment room number" formControlName="roomNumber"
                  [disabled]="!selectedApartmentsClass">
        <mat-option *ngFor="let apartment of apartmentsList"
                    (click)="onSelectApartment(apartment)"
                    value={{apartments?.roomNumber}}>

          {{apartment?.roomNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Apartments Class</mat-label>
      <mat-select placeholder="Class name" formControlName="nameClass"
      [disabled]="!addForm.value.endDate">
        <mat-option *ngFor="let apartmentClass of apartmentsClassesList"
                    (click)="onSelectAprtmntClass(apartmentClass)"
                    value={{apartmentClass?.nameClass}}>

          {{apartmentClass?.nameClass}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" mat-dialog-close>Cancel</button>
    <button type="submit" (click)="checkValid()" mat-dialog-close [disabled]="isSubmitDisabled()" mat-button>Add</button>
  </mat-dialog-actions>
</form>

