<section class="booking-list">

  <div class="wrap">

    <div class="tools">
      <div class="buttons">
        <p>Apartment prices</p>
        <button class="mat-button" mat-raised-button (click)="addApartmentPriceDialog()">Add</button>
      </div>
      <div class="change">
        <app-change-booking-dialog *ngIf="id$ | async; else loading"></app-change-booking-dialog>
      </div>
      <ng-template #loading></ng-template>
    </div>

    <div class="table">
      <apartment-prices-table-component></apartment-prices-table-component>
    </div>

  </div>
</section>
