<div class="table-component">


  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="staffList">

    <ng-container class="column staff-id" matColumnDef="id">
      <th class="header" mat-header-cell *matHeaderCellDef>
        ID:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.id}} </td>
    </ng-container>

    <ng-container class="column" matColumnDef="firstname">
      <th class="header" mat-header-cell *matHeaderCellDef>
        First name:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.user.firstname}} </td>
    </ng-container>

    <ng-container class="column" matColumnDef="lastname">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Last name:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.user.lastname}} </td>
    </ng-container>

    <ng-container class="column" matColumnDef="email">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Email:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.user.email}} </td>
    </ng-container>

    <ng-container class="column" matColumnDef="speciality">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Speciality:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.speciality}} </td>
    </ng-container>

    <ng-container class="column" matColumnDef="active">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Active:
      </th>
      <td mat-cell *matCellDef="let selectedStaff"> {{selectedStaff?.active}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectRow(row)"
        [ngClass]="{'highlightRow': selectedRow == row.id}"></tr>
  </table>
</div>
