<div class="change-component">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change
        </mat-panel-title>
        <mat-panel-description>
          Unavailable apartment
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="change-apartment">
        <mat-form-field>
          <input matInput required="required" formControlName="startDate" class="full-width" placeholder="Start date">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput required="required" formControlName="endDate" class="full-width" placeholder="End date">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="causeDescription" class="full-width" placeholder="Cause description">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Room number</mat-label>
          <mat-select required="required" placeholder="Class name" formControlName="apartment">
            <mat-option *ngFor="let apartments of apartmentsList"
                        (click)="onSelectApartment(apartments)"
                        value={{apartments?.roomNumber}}>

              {{apartments?.roomNumber}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-dialog-actions align="end">
          <p></p>
          <button style="background-color: tomato" class="mat-button" mat-raised-button (click)="deleteUnavailableApartment()">Delete</button>
          <button mat-button
                  [mat-dialog-close]="true">
            Cancel
          </button>
          <button
            type="submit"
            (click)="checkValid()"
            [disabled]="isSubmitDisabled()" mat-button>
            Change
          </button>
        </mat-dialog-actions>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

