<div *ngIf="!isError && apartmentsList != null">
  <div class="change-component">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Change
          </mat-panel-title>
          <mat-panel-description>
            Unavailable apartment
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="addForm" class="change-apartment">
          <mat-form-field>
            <input matInput [matDatepicker]="pickerStart"
                   required="required" formControlName="startDate"
                   class="full-width" placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
            <mat-datepicker #pickerStart></mat-datepicker>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput [matDatepicker]="pickerEnd"
                   required="required" formControlName="endDate"
                   class="full-width" placeholder="End date"
                   [disabled]="!addForm.value.startDate">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input matInput formControlName="causeDescription" class="full-width" placeholder="Cause description">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <!--  <mat-label>Room number</mat-label> -->
            <mat-select required="required" placeholder="Room number" formControlName="roomNumber">
              <mat-option *ngFor="let apartment of apartmentsList"
                          (click)="onSelectApartment(apartment)"
                          value={{apartment?.roomNumber}}>

                {{apartment?.roomNumber}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-dialog-actions align="end">
            <p></p>
            <button style="background-color: tomato" class="mat-button" mat-raised-button
                    (click)="deleteUnavailableApartment()">Delete
            </button>

            <button
              type="submit"
              (click)="onSubmit()"
              [disabled]="isSubmitDisabled()" mat-button>
              Change
            </button>
          </mat-dialog-actions>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div *ngIf="isError || apartmentsList == null" class="form-loader">
  <app-loading-animation></app-loading-animation>
</div>

