<div class="change-component">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change
        </mat-panel-title>
        <mat-panel-description>
          Apartment
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="change-apartment">
    <mat-form-field>
      <input matInput required="required" formControlName="startDate" class="full-width" placeholder="Start date">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput required="required" formControlName="endDate" class="full-width" placeholder="End date">
    </mat-form-field>
    <br/>
        <!--    <mat-form-field>-->
        <!--      <input matInput formControlName="totalPrice" class="full-width" placeholder="Total price">-->
        <!--    </mat-form-field>-->
        <!--    <br/>-->
    <mat-form-field>
      <input matInput formControlName="comment" class="full-width" placeholder="Comments">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="review" class="full-width" placeholder="Review">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-select placeholder="Status" formControlName="bookingStatus">
        <mat-option *ngFor="let bookingStatus of status"
                    (click)="onSelectStatus(bookingStatus)"
                    value={{bookingStatus}}>

          {{bookingStatus}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="email" class="full-width" placeholder="Booked by(user email)">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Apartments</mat-label>
      <mat-select placeholder="Apartment room number" formControlName="roomNumber">
        <mat-option *ngFor="let apartment of apartmentsList"
                    (click)="onSelectAprtmnt(apartment)"
                    value={{apartment?.roomNumber}}>

          {{apartment?.roomNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Apartments Class</mat-label>
      <mat-select placeholder="Class name" formControlName="nameClass">
        <mat-option *ngFor="let apartmentClass of apartmentsClassesList"
                    (click)="onSelectAprtmntClass(apartmentClass)"
                    value={{apartmentClass?.nameClass}}>

          {{apartmentClass?.nameClass}}
        </mat-option>
      </mat-select>
    </mat-form-field>
        <mat-dialog-actions align="end">
          <button style="background-color: tomato" class="mat-button" mat-raised-button (click)="deleteBooking()">Delete
          </button>
          <button mat-button
                  [mat-dialog-close]="true">
            Cancel
          </button>
          <button
                  type="submit"
                  (click)="checkValid()"
                  [disabled]="isSubmitDisabled()" mat-button>
            Change
          </button>
        </mat-dialog-actions>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

