<div class="change-component">
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Change
        </mat-panel-title>
        <mat-panel-description>
          Apartment price
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="change-apartment">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerStart"
                 required="required" formControlName="startPeriod"
                 class="full-width" placeholder="Start period">
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerEnd"
                 required="required" formControlName="endPeriod"
                 class="full-width" placeholder="End period"
                 [disabled]="!addForm.value.startPeriod">
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="price" class="full-width" placeholder="Price">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Apartments Class</mat-label>
          <mat-select required="required" placeholder="Class name" formControlName="nameClass">
            <mat-option *ngFor="let apartmentClass of apartmentsClassesList"
                        (click)="onSelectAprtmntClass(apartmentClass)"
                        value={{apartmentClass?.nameClass}}>

              {{apartmentClass?.nameClass}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-dialog-actions align="end">
          <p></p>
          <button style="background-color: tomato" class="mat-button" mat-raised-button
                  (click)="deleteApartmentPrice()">Delete
          </button>
          <button mat-button
                  [mat-dialog-close]="true">
            Cancel
          </button>
          <button
            type="submit"
            (click)="checkValid()"
            [disabled]="isSubmitDisabled()" mat-button>
            Change
          </button>
        </mat-dialog-actions>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>

