<form [formGroup]="addApartmentForm" (ngSubmit)="onSubmit()" class="change-apartment">
  <h2 mat-dialog-title>Edit Apartment</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <input matInput required="required" formControlName="roomNumber" class="full-width" placeholder="Room number">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput required="required" formControlName="photo" class="full-width" placeholder="Photo">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="description" class="full-width" placeholder="Description">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status" (selectionChange)="changeStatus($event.value)">
        <mat-option value="OnRepair">On repair</mat-option>
        <mat-option value="NeedCleaning">Need cleaning</mat-option>
        <mat-option value="Occupied">Occupied</mat-option>
        <mat-option value="ReadyToCheckIn">Ready to check in</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Apartments Class</mat-label>
      <mat-select>
        <mat-option *ngFor="let apartmentClass of apartmentsClassesList"
                    (click)="onSelect(apartmentClass)"
                    value={{apartmentClass?.nameClass}}>

          {{apartmentClass?.nameClass}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="numberOfRooms"
             class="full-width"
             placeholder={{selectedApartmentsClass?.numberOfRooms}}>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput formControlName="numberOfCouchette"
             class="full-width"
             placeholder={{selectedApartmentsClass?.numberOfCouchette}}>
    </mat-form-field>
    <br/>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" mat-dialog-close>Cancel</button>
    <button type="submit" (click)="checkValid()" mat-dialog-close [disabled]="isSubmitDisabled()" mat-button>Add</button>
  </mat-dialog-actions>
</form>

